---
import { getEntry } from "astro:content";
import { ViewTransitions } from "astro:transitions";
import { Image } from "astro:assets";
import "../styles/wizard-main.less";

const { data } = await getEntry("config", "about");

interface Props {
  title: string;
  description: string;
  thumbnail?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const { title, description, thumbnail } = Astro.props;
const searchImage = !!thumbnail
  ? await import(`${thumbnail}?w=120&h=120&ar=1&position=entropy&as=webp`)
  : null;
const socialImage = !!thumbnail
  ? await import(`${thumbnail}?w=1200&h=630&ar=1&position=entropy&as=webp`)
  : null;

const pageTitle = `${title} | ${data.sitename}`;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />
<style lang="less"></style>
<!-- Canonical URL -->
<link rel="canonical" data-pagefind-meta="url[href]" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{pageTitle}</title>
<meta name="title" content={pageTitle} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
{socialImage && <meta property="og:image" content={socialImage} />}

<script is:inline>
  const setDarkMode = () => {
    if (localStorage.getItem("color-scheme") === "dark") {
      document.querySelector("html").dataset.theme = "dark";
    }
    if (localStorage.getItem("color-scheme") === "light") {
      document.querySelector("html").dataset.theme = "light";
    }
    if (!localStorage.getItem("color-scheme")) {
      let theme = window.matchMedia("(prefers-color-scheme: dark)").matches
        ? "dark"
        : "light";
      localStorage.setItem("color-scheme", theme);
      document.querySelector("html").dataset.theme = theme;
    }
  };
  setDarkMode();
  document.addEventListener("astro:after-swap", setDarkMode);
</script>

<ViewTransitions fallback="swap" />
<script src="/scroll-timeline.js" is:inline defer></script>
<style lang="less"></style>
