---
import BaseLayout from "./WizardBaseLayout.astro";

const props = Astro.props;
const { title, description, blocks, style, thumbnail, og_image } = Astro.props;
const contentClass = style.hero_template === "plain" ? "py-0" : "py-20";
const hasBlocks = blocks && blocks.length > 0;
---

<BaseLayout
  {title}
  {description}
  pageClass={style.page_class}
  {thumbnail}
  {og_image}
>

  <div class="relative z-10 w-full" id="more">
    <div
      class=`page__content container-${style.container || 'md'} ${style.content_class || contentClass} `
    >
      <slot />
    <div class="pointer-events-none fixed bottom-0 z-40 w-full">
      <slot name="cart" />
    </div>
  </div>
</BaseLayout>

<style is:global>
  .page__content {
    &:empty {
      display: none;
    }
    &:has(> .richtext:empty) {
      display: none;
    }
    .img,
    iframe {
      width: calc(100% + var(--container-spacing));
      margin-left: calc(var(--spacing) * -1);
      @apply my-10 aspect-video h-auto;
      @screen md {
        width: 100%;
        margin-left: 0;
      }
    }
  }
</style>
